/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto; // Header - Content - Footer
    min-height: 100vh;
}

footer {
    background-color: #f8f9fa;
    padding: 15px;
    text-align: center;
}
