<div class="container mt-3">
    <!-- Bộ lọc theo Major + Nút Add -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <label for="majorFilter" class="fw-semibold mb-2">Filter by Major</label>
            <p-select [options]="majorOptions" [(ngModel)]="selectedMajorId" optionLabel="name" optionValue="id" [filter]="true"
                filterBy="name" [showClear]="true" placeholder="Select a Major" class="form-control"
                (onChange)="filterTaskRequests()">
            </p-select>
        </div>
        <button type="button" class="btn btn-success d-flex align-items-center gap-2" (click)="showDialogAdd()">
            <i class="pi pi-plus"></i> Add
        </button>
    </div>

    <!-- Bảng Task Assignments -->
    <app-task-assignments-table [taskRequests]="filteredTaskRequests"></app-task-assignments-table>
</div>


<!-- Dialog Add Thâm -->
<p-dialog header="Add Task Request" [modal]="true" [(visible)]="add" [style]="{ width: '40rem' }" [closable]="false">
    <span class="text-muted d-block mb-3">Add information</span>
    <form [formGroup]="addTaskRequestForm">
        <!-- Description -->
        <div class="mb-3 row">
            <label for="Description" class="col-sm-4 col-form-label fw-semibold">Description</label>
            <div class="col-sm-8">
                <input pInputText id="Description" class="form-control" formControlName="Description" />
                @if (addTaskRequestForm.controls['Description'].invalid &&
                addTaskRequestForm.controls['Description'].touched) {
                <small class="text-danger">
                    Description is required (Min 3 chars).
                </small>
                }
            </div>
        </div>
        <!-- MajorId -->
        <div class="mb-3 row">
            <label for="MajorId" class="col-sm-4 col-form-label fw-semibold">Major</label>
            <div class="col-sm-8">
                <p-select [options]="majorOptions" formControlName="MajorId" optionLabel="name" optionValue="id"
                    [showClear]="true" placeholder="Select a Major" class="w-100">
                </p-select>
                @if (addTaskRequestForm.controls['MajorId'].invalid && addTaskRequestForm.controls['MajorId'].touched) {
                <small class="text-danger">
                    Major must choose.
                </small>
                }
            </div>
        </div>
        <!-- Footer -->
        <div class="d-flex justify-content-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="hideDialogAdd()" class="me-2" />
            <p-button label="Add" (click)="addTaskRequest()" [disabled]="addTaskRequestForm.invalid" />
        </div>
    </form>
</p-dialog>