<nav class="navbar navbar-expand-lg">
  <div class="container-fluid px-4">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="https://static.topcv.vn/v4/image/logo/topcv-logo-6.png" alt="">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-left me-auto mb-2 mb-lg-0">
        <li class="nav-item me-2">
          <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link" [routerLink]="['/facility-major']">Facility Major</a>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link" [routerLink]="['/service-major']">Service</a>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link" [routerLink]="['/']">Q & A</a>
        </li>
      </ul>
      @if(userName) {
      <ul class="navbar-nav navbar-right mb-2 mb-lg-0">
        <!-- Welcome message -->
        <li class="nav-item">
          <a class="nav-link">
            <div class="block-for-employee">
              <a [routerLink]="['/profile']" style="text-decoration: none;">
                <p>Welcome</p>
                <span>{{userName}}</span>
              </a>
            </div>
          </a>
        </li>
        <!-- Divider -->
        <li class="nav-item">
          <div class="column-divider"></div>
        </li>

        <!-- Notifications -->
        <li class="nav-item">
          <a [routerLink]="['/logout']" class="nav-link icon">
            <i class="pi pi-bell" style="font-size: 1.5rem; color: green;"></i>
          </a>
        </li>

        <!-- User Dropdown -->
        <li class="nav-item">
          <a [routerLink]="['/logout']" class="btn btn-outline-danger">Logout</a>
        </li>
      </ul>
      }
      @else {
      <ul class="navbar-nav navbar-right mb-2 mb-lg-0">
        <li class="nav-item">
          <a [routerLink]="['/logon']" class="btn btn-outline-success">Login</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-dark" [routerLink]="['/register']">Register</a>
        </li>
      </ul>
      }
    </div>
  </div>
</nav>