.major-content {

    .major-content__header {
        padding: 24px 0;
        text-align: center !important;

        .title {
            color: #333;
            font-size: 24px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

.header-content__search {
    color: #fff;

    form {
        align-items: center;
        background: #fff;
        border-radius: 100px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .04);
        display: flex;
        height: 60px;
        margin-bottom: 10px;
        padding: 8px;
        width: 100%;
    }
}