<p-toast />
<p-confirmdialog />
<div class="container">
    <button type="button" class="btn btn-success mb-3" (click)="showDialogAdd()">Add</button>
    <div class="card">
        <p-table #dt2 [value]="facilities" dataKey="id" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
            [loading]="loading" sortField="email"
            [globalFilterFields]="['name', 'description', 'isDeactivated']" [sortOrder]="-1"
            [tableStyle]="{ 'min-width': '60rem' }">
            <!-- Thanh tìm kiếm chung -->
            <ng-template #caption>
                <div class="d-flex justify-content-end">
                    <p-iconfield iconPosition="left">
                        <p-inputicon>
                            <i class="pi pi-search"></i>
                        </p-inputicon>
                        <input pInputText type="text" (input)="onGlobalFilter($event, dt2)"
                            placeholder="Tìm kiếm cơ sở" />

                    </p-iconfield>
                </div>
            </ng-template>

            <!-- Header -->
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">ID</th>
                    <th pSortableColumn="fullName">Name</th>
                    <th pSortableColumn="description">Description</th>
                    <th pSortableColumn="isDeactivated">Trạng thái</th>
                    <th pSortableColumn="createdAt">Ngày tạo</th>
                    <th>Hành động</th>
                </tr>
            </ng-template>

            <!-- Body -->
            <ng-template pTemplate="body" let-facility>
                <tr>
                    <td>{{ facility.id }}</td>
                    <td>{{ facility.name }}</td>
                    <td>{{ facility.description }}</td>
                    <td>
                        <p-tag [value]="facility.isDeactivated ? 'Bị khóa' : 'Hoạt động'" />
                    </td>
                    <td>{{ facility.createdAt | date: 'dd/MM/yyyy' }}</td>
                    <td>
                        <p-button (click)="confirmDelete($event)" label="Delete" severity="danger" [outlined]="true" />
                        <p-button (click)="showDialogUpdate(facility.id)" label="Update" class="ms-2" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<!-- Dialog Add Thâm -->
<p-dialog header="Add Facility" [modal]="true" [(visible)]="add" [style]="{ width: '40rem' }" [closable]="false">
    <span class="text-muted d-block mb-3">Add information</span>
    <div class="text-center mb-3">
        @if (logoUrl) {
        <p-avatar [image]="logoUrl" shape="circle" class="custom-avatar mb-3"></p-avatar>
        } @else {
        <p-avatar icon="pi pi-user" shape="circle" class="custom-avatar mb-3"></p-avatar>
        }
        <p-fileUpload #fileUploadRef mode="basic" accept="image/*" chooseLabel="Choose Logo"
            (onSelect)="onFileSelect($event)" />
    </div>

    <form [formGroup]="addFacilityForm">
        <!-- Name -->
        <div class="mb-3 row">
            <label for="name" class="col-sm-4 col-form-label fw-semibold">Name</label>
            <div class="col-sm-8">
                <input pInputText id="name" class="form-control" formControlName="name" />
                @if (addFacilityForm.controls['name'].invalid &&
                addFacilityForm.controls['name'].touched) {
                <small class="text-danger">
                    Name is required (Min 3 chars).
                </small>
                }
            </div>
        </div>

        <!-- Description -->
        <div class="mb-3 row">
            <label for="description" class="col-sm-4 col-form-label fw-semibold">Description</label>
            <div class="col-sm-8">
                <input pInputText id="description" class="form-control" formControlName="description" />

                @if (addFacilityForm.controls['description'].invalid && addFacilityForm.controls['description'].touched) {
                <small class="text-danger">
                    Enter a valid description.
                </small>
                }
            </div>
        </div>

        <!-- Footer -->
        <div class="d-flex justify-content-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="hideDialogAdd()" class="me-2" />
            <p-button label="Add" (click)="addFacility()" [disabled]="addFacilityForm.invalid" />
        </div>
    </form>
</p-dialog>

<!-- Dialog Update cập nhật -->
<p-dialog header="Update Facility" [modal]="true" [(visible)]="update" [style]="{ width: '40rem' }" [closable]="false">
    <span class="text-muted d-block mb-3">Update information</span>
    <div class="text-center mb-3">
        @if (logoUrl) {
        <p-avatar [image]="logoUrl" shape="circle" class="custom-avatar mb-3"></p-avatar>
        } @else {
        <p-avatar icon="pi pi-user" shape="circle" class="custom-avatar mb-3"></p-avatar>
        }
        <p-fileUpload #fileUploadRef mode="basic" accept="image/*" chooseLabel="Choose Avatar"
            (onSelect)="onFileSelect($event)" />
    </div>

    <form [formGroup]="addFacilityForm">
        <!-- Full Name -->
        <div class="mb-3 row">
            <label for="name" class="col-sm-4 col-form-label fw-semibold">Name</label>
            <div class="col-sm-8">
                <input pInputText id="name" class="form-control" formControlName="name" />
                @if (addFacilityForm.controls['name'].invalid &&
                addFacilityForm.controls['name'].touched) {
                <small class="text-danger">
                    Name is required (Min 3 chars).
                </small>
                }
            </div>
        </div>

        <!-- Description -->
        <div class="mb-3 row">
            <label for="description" class="col-sm-4 col-form-label fw-semibold">Description</label>
            <div class="col-sm-8">
                <input pInputText id="description" class="form-control" formControlName="description" />

                @if (addFacilityForm.controls['description'].invalid && addFacilityForm.controls['description'].touched) {
                <small class="text-danger">
                    Enter a valid description.
                </small>
                }
            </div>
        </div>

        <!-- Footer -->
        <div class="d-flex justify-content-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="hideDialogUpdate()" class="me-2" />
            <p-button label="Update" (click)="updateFacility()" [disabled]="addFacilityForm.invalid" />
        </div>
    </form>
</p-dialog>