<section class="service-major-detail-content my-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-3">
                <div class="section-introduce">
                    <h3 class="title rounded-top">Giới thiệu Service</h3>
                    <div class="content p-3">
                        <div class="description mb-3">
                            description is here
                        </div>
                        <button type="button" class="btn btn-success" (click)="showDialog()">Đặt ngay</button>
                        <p-dialog header="Book liền" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
                            <span class="text-secondary d-block mb-3">Vui lòng điền vô:</span>
                            <div class="d-flex align-items-center mb-3">
                                <label for="username" class="fw-semibold me-3 w-25">Username</label>
                                <input pInputText id="username" class="form-control flex-grow-1" autocomplete="off" />
                            </div>
                            <div class="d-flex align-items-center mb-4">
                                <label for="email" class="fw-semibold me-3 w-25">Email</label>
                                <input pInputText id="email" class="form-control flex-grow-1" autocomplete="off" />
                            </div>
                            <div class="d-flex justify-content-end gap-2">
                                <p-button label="Cancel" severity="secondary" (click)="visible = false" />
                                <p-button label="Save" (click)="visible = false" />
                            </div>
                        </p-dialog>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="section-introduce">
                    <h3 class="title rounded-top">Thông tin Lĩnh vực</h3>
                    <div class="content">
                        <div class="description">
                            <!-- Facility major is Here :) -->
                            <div class="company-card p-3 border rounded shadow-sm">
                                <div class="d-flex align-items-center mb-2">
                                    <img [src]="service?.Major?.ImageUrl" width="70px" height="70px" alt="Company Logo"
                                        class="company-logo me-2" />
                                    <div class="fw-bold">{{service?.Major?.Name}}</div>
                                </div>
                                <div class="text-muted small">
                                    <div><i class="pi pi-users"></i> <strong>Quy mô:</strong> 1000+ nhân viên</div>
                                    <div><i class="pi pi-briefcase"></i> <strong>Lĩnh vực:</strong> Tư vấn</div>
                                    <div><i class="pi pi-map-marker"></i> <strong>Địa điểm:</strong> QTSC Building 1, Lô
                                        34, đường số 14, CVPM Quang Trung,...</div>
                                </div>
                                <a [routerLink]="['/facility-major-detail/1']" class="text-success mt-2 d-block">Xem
                                    trang công ty <i class="pi pi-external-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>