<section class="major-content">
    <div class="major-content__header">
        <h1 class="title">Danh sách các Service</h1>
    </div>
    <div class="container">
        <div class="row">
            @for(service of services; track service) {
            <div class="col-md-4 col-sm-6 mb-3">
                <a [routerLink]="['/service-major-detail', service.Service.Id]" class="text-decoration-none">
                    <p-card class="service-card w-100">
                        <div class="d-flex align-items-center">
                            <img [src]="service.Service.ImageUrl" class="major-logo" />
                            <div class="ms-3 flex-grow-1">
                                <h5 class="service-title">{{ service.Service.Name }}
                                </h5>
                                <p class="major-name">{{ service.Major.Name }}</p>
                            </div>
                        </div>
                    </p-card>
                </a>
            </div>
            }
        </div>
    </div>
</section>