@if(loading) {
<div class="spinner-overlay">
    <p-progressSpinner></p-progressSpinner>
</div>
}
<p-confirmdialog />
<div class="container">
    <div class="d-flex justify-content-end mb-3">
        <button type="button" class="btn btn-success" (click)="showDialogAdd()">Add</button>
    </div>
    <div class="card">
        <p-table #dt2 [value]="facilityItems" dataKey="Item.Id" [paginator]="true" [rows]="10"
            [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" sortField="Item.Name"
            [globalFilterFields]="['Item.Name']" [sortOrder]="-1" [tableStyle]="{ 'min-width': '60rem' }">

            <!-- Thanh Search chung -->
            <ng-template #caption>
                <div class="d-flex justify-content-end">
                    <p-iconfield iconPosition="left">
                        <p-inputicon>
                            <i class="pi pi-search"></i>
                        </p-inputicon>
                        <input pInputText type="text" (input)="onGlobalFilter($event, dt2)"
                            placeholder="Search Facility Item" />
                    </p-iconfield>
                </div>
            </ng-template>

            <!-- Header -->
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="Item.Id">ID</th>
                    <th pSortableColumn="Item.Name">Name</th>
                    <th pSortableColumn="Item.Count">Total Quantity</th>
                    <th pSortableColumn="Item.InUseCount">In Use</th>
                    <th pSortableColumn="Item.CreatedAt">Created At</th>
                    <th pSortableColumn="Item.UpdatedAt">Updated At</th>
                    <th>Actions</th>
                </tr>
            </ng-template>

            <!-- Body -->
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{ item.Item.Id }}</td>
                    <td>{{ item.Item.Name }}</td>
                    <td>{{ item.Item.Count }}</td>
                    <td>{{ item.Item.InUseCount }}</td>
                    <td>{{ item.Item.CreatedAt | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ item.Item.UpdatedAt | date: 'dd/MM/yyyy' }}</td>
                    <td>
                        <p-button (click)="confirmDelete($event, item.Item.Id)" severity="danger" [outlined]="true">
                            <i class="pi pi-trash"></i>
                        </p-button>
                        <p-button
                            (click)="showDialogFacilityMajorTable(item.Item.Id, item.Item.Count, item.Item.InUseCount)"
                            label="Assign" class="ms-2" />
                        <p-button (click)="showDialogUpdate(item.Item.Id)" label="Quantity" class="ms-2" />
                        <p-button (click)="showDialogUpdateMain(item.Item.Id)" label="Update" class="ms-2" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<!-- Dialog Add Item -->
<p-dialog header="Add Facility Item" [modal]="true" [(visible)]="add" [style]="{ width: '40rem' }" [closable]="false">
    <span class="text-muted d-block mb-3">Add Item Information</span>

    <!-- Ảnh Item -->
    <div class="text-center mb-3">
        @if (imageUrl) {
        <p-avatar [image]="imageUrl" class="custom-avatar mb-3"></p-avatar>
        } @else {
        <p-avatar icon="pi pi-image" class="custom-avatar mb-3"></p-avatar>
        }
        <p-fileUpload #fileUploadRef mode="basic" accept="image/*" chooseLabel="Choose Image"
            (onSelect)="onFileSelect($event)" />
    </div>

    <form [formGroup]="addFacilityItemForm">
        <!-- Name -->
        <div class="mb-3 row">
            <label for="name" class="col-sm-4 col-form-label fw-semibold">Item Name</label>
            <div class="col-sm-8">
                <input pInputText id="name" class="form-control" formControlName="Name" />
                @if (addFacilityItemForm.controls['Name'].invalid && addFacilityItemForm.controls['Name'].touched) {
                <small class="text-danger">Item Name is required (Min 3 chars).</small>
                }
            </div>
        </div>

        <!-- Count -->
        <div class="mb-3 row">
            <label for="count" class="col-sm-4 col-form-label fw-semibold">Count</label>
            <div class="col-sm-8">
                <input pInputText id="count" type="number" class="form-control" formControlName="Count" />
                @if (addFacilityItemForm.controls['Count'].invalid && addFacilityItemForm.controls['Count'].touched) {
                <small class="text-danger">Count must be at least 1.</small>
                }
            </div>
        </div>
        <!-- Footer -->
        <div class="d-flex justify-content-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="hideDialogAdd()" class="me-2" />
            <p-button label="Add" (click)="addFacilityItem($event)" [disabled]="addFacilityItemForm.invalid" />
        </div>
    </form>
</p-dialog>

<!-- Dialog Update cập nhật -->
<p-dialog header="Update Facility Item" [modal]="true" [(visible)]="updateMain" [style]="{ width: '80rem' }"
    [closable]="false">
    <span class="text-muted d-block mb-3">Update Item Information</span>

    <div class="d-flex">
        <!-- Bảng Facility Major -->
        <div class="me-4" style="width: 40%;">
            <p-table #dt3 [value]="itemMajors" dataKey="Major.Id" [paginator]="true" [rows]="5"
                [rowsPerPageOptions]="[5, 10]" [loading]="loading" sortField="Major.Name"
                [globalFilterFields]="['Major.Name', 'Major.IsOpen']" [sortOrder]="-1"
                [tableStyle]="{ 'min-width': '20rem' }">

                <!-- Thanh Search -->
                <ng-template #caption>
                    <div class="d-flex justify-content-end">
                        <p-iconfield iconPosition="left">
                            <p-inputicon>
                                <i class="pi pi-search"></i>
                            </p-inputicon>
                            <input pInputText type="text" (input)="onGlobalFilter($event, dt3)"
                                placeholder="Search Major" />
                        </p-iconfield>
                    </div>
                </ng-template>

                <!-- Header -->
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="Major.Id">ID</th>
                        <th pSortableColumn="Major.Name">Name</th>
                        <th pSortableColumn="Major.IsOpen">Status</th>
                        <th pSortableColumn="FacilityItemAssignment.ItemCount">Count</th>
                    </tr>
                </ng-template>

                <!-- Body -->
                <ng-template pTemplate="body" let-major>
                    <tr>
                        <td>{{ major.Major.Id }}</td>
                        <td>{{ major.Major.Name }}</td>
                        <td>
                            <p-tag [value]="major.Major.IsOpen ? 'Open' : 'Closed'"
                                [severity]="major.Major.IsOpen ? 'success' : 'danger'" />
                        </td>
                        <td>{{ major.FacilityItemAssignment.ItemCount }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- Form cập nhật -->
        <div style="width: 60%;">
            <form [formGroup]="updateFacilityItemFormMain">
                <div class="text-center mb-3">
                    @if(imageUrl) {
                    <p-avatar [image]="imageUrl" class="custom-avatar mb-3"></p-avatar>
                    }
                    @else {
                    <ng-template #noImage>
                        <p-avatar icon="pi pi-image" class="custom-avatar mb-3"></p-avatar>
                    </ng-template>
                    }
                    <p-fileUpload #fileUploadRef mode="basic" accept="image/*" chooseLabel="Choose Image"
                        (onSelect)="onFileSelect($event)" />
                </div>

                <!-- Name -->
                <div class="mb-3 row">
                    <label for="name" class="col-sm-4 col-form-label fw-semibold">Item Name</label>
                    <div class="col-sm-8">
                        <input pInputText id="name" class="form-control" formControlName="Name" />
                        @if(updateFacilityItemFormMain.controls['Name'].invalid &&
                        updateFacilityItemFormMain.controls['Name'].touched) {
                        <small class="text-danger">Item Name is required (Min 3 chars).</small>
                        }
                    </div>
                </div>

                <!-- Count -->
                <div class="mb-3 row">
                    <label for="count" class="col-sm-4 col-form-label fw-semibold">Count</label>
                    <div class="col-sm-8">
                        <input pInputText id="count" type="number" class="form-control" formControlName="Count" />
                        @if(updateFacilityItemFormMain.controls['Count'].invalid &&
                        updateFacilityItemFormMain.controls['Count'].touched) {
                        <small class="text-danger">Count must be at least 1.
                        </small>
                        }
                    </div>
                </div>
                <!-- Footer -->
                <div class="d-flex justify-content-end gap-2">
                    <p-button label="Cancel" severity="secondary" (click)="hideDialogUpdateMain()" class="me-2" />
                    <p-button label="Update" (click)="updateFacilityItemMain($event)"
                        [disabled]="updateFacilityItemFormMain.invalid" />
                </div>
            </form>
        </div>
    </div>
</p-dialog>

<!-- Dialog Update cập nhật -->
<p-dialog header="Update Facility Item" [modal]="true" [(visible)]="update" [style]="{ width: '80rem' }"
    [closable]="false">
    <span class="text-muted d-block mb-3">Update Item Information</span>

    <div class="d-flex">
        <!-- Bảng Facility Major -->
        <div class="me-4" style="width: 40%;">
            <p-table #dt3 [value]="itemMajors" dataKey="Major.Id" [paginator]="true" [rows]="5"
                [rowsPerPageOptions]="[5, 10]" [loading]="loading" sortField="Major.Name"
                [globalFilterFields]="['Major.Name', 'Major.IsOpen']" [sortOrder]="-1"
                [tableStyle]="{ 'min-width': '20rem' }">

                <!-- Thanh Search -->
                <ng-template #caption>
                    <div class="d-flex justify-content-end">
                        <p-iconfield iconPosition="left">
                            <p-inputicon>
                                <i class="pi pi-search"></i>
                            </p-inputicon>
                            <input pInputText type="text" (input)="onGlobalFilter($event, dt3)"
                                placeholder="Search Major" />
                        </p-iconfield>
                    </div>
                </ng-template>

                <!-- Header -->
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="Major.Id">ID</th>
                        <th pSortableColumn="Major.Name">Name</th>
                        <th pSortableColumn="Major.IsOpen">Status</th>
                        <th pSortableColumn="FacilityItemAssignment.ItemCount">Count</th>
                    </tr>
                </ng-template>

                <!-- Body -->
                <ng-template pTemplate="body" let-major>
                    <tr>
                        <td>{{ major.Major.Id }}</td>
                        <td>{{ major.Major.Name }}</td>
                        <td>
                            <p-tag [value]="major.Major.IsOpen ? 'Open' : 'Closed'"
                                [severity]="major.Major.IsOpen ? 'success' : 'danger'" />
                        </td>
                        <td>{{ major.FacilityItemAssignment.ItemCount }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- Form cập nhật -->
        <div style="width: 60%;">
            <form [formGroup]="updateFacilityItemForm">
                <div class="text-center mb-3">
                    @if(imageUrl) {
                    <p-avatar [image]="imageUrl" class="custom-avatar mb-3"></p-avatar>
                    }
                    @else {
                    <ng-template #noImage>
                        <p-avatar icon="pi pi-image" class="custom-avatar mb-3"></p-avatar>
                    </ng-template>
                    }
                </div>

                <!-- Name -->
                <div class="mb-3 row">
                    <label for="name" class="col-sm-4 col-form-label fw-semibold">Item Name</label>
                    <div class="col-sm-8">
                        <input pInputText id="name" class="form-control" formControlName="Name" readonly />
                        @if(updateFacilityItemForm.controls['Name'].invalid &&
                        updateFacilityItemForm.controls['Name'].touched) {
                        <small class="text-danger">Item Name is required (Min 3 chars).</small>
                        }
                    </div>
                </div>

                <!-- Count -->
                <div class="mb-3 row">
                    <label for="count" class="col-sm-4 col-form-label fw-semibold">Count</label>
                    <div class="col-sm-8">
                        <input pInputText id="count" type="number" class="form-control" formControlName="Count"
                            readonly />
                        @if(updateFacilityItemForm.controls['Count'].invalid &&
                        updateFacilityItemForm.controls['Count'].touched) {
                        <small class="text-danger">Count must be at least 1.
                        </small>
                        }
                    </div>
                </div>

                <!-- 🔽 Select Action -->
                <div class="mb-3 row">
                    <label for="Action" class="col-sm-4 col-form-label fw-semibold">Action</label>
                    <div class="col-sm-8">
                        <p-select [options]="actions" optionLabel="label" optionValue="value" appendTo="body"
                            formControlName="Action" placeholder="Select Action">
                        </p-select>
                    </div>
                </div>

                @if (['add', 'remove'].includes(updateFacilityItemForm.get('Action')?.value)) {
                <div class="mb-3 row">
                    <label for="amount" class="col-sm-4 col-form-label fw-semibold">Amount Description</label>
                    <div class="col-sm-8">
                        <input type="number" id="amount" class="form-control" formControlName="Amount">
                    </div>
                </div>
                }

                <!-- Footer -->
                <div class="d-flex justify-content-end gap-2">
                    <p-button label="Cancel" severity="secondary" (click)="hideDialogUpdate()" class="me-2" />
                    <p-button label="Update" (click)="updateFacilityItem()"
                        [disabled]="updateFacilityItemForm.invalid" />
                </div>
            </form>
        </div>
    </div>
</p-dialog>

<p-dialog header="Facility Majors" [modal]="true" [(visible)]="facilityMajorTable" [style]="{ width: '80%' }"
    [closable]="false">

    <!-- Số lượng khả dụng -->
    <div class="mb-3">
        <label for="amount" class="form-label fw-semibold">Total Quantity: {{ count }}</label><br>
        <p-inputnumber inputId="amount" [(ngModel)]="amount" (onInput)="onAmountInput()" [min]="1" [max]="count" />
        &nbsp;<small class="text-muted">Remaining: {{ remainingAmount }}</small>
    </div>

    <!-- Table -->
    <p-table [value]="facilityMajors" [(selection)]="selectedFacilityMajors" dataKey="Major.Id"
        [tableStyle]="{'min-width': '50rem'}" (onRowSelect)="onFacilityMajorSelect($event.data)"
        (onRowUnselect)="onFacilityMajorUnselect($event.data)">

        <!-- Header -->
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem"></th>
                <th pSortableColumn="Major.Id">ID</th>
                <th pSortableColumn="Major.Name">Name</th>
                <th pSortableColumn="Major.WorkShiftsDescription">Work Shift</th>
                <th pSortableColumn="Major.IsOpen">Status</th>
                <th>Action</th>
            </tr>
        </ng-template>

        <!-- Body -->
        <ng-template pTemplate="body" let-major>
            <tr>
                <td>
                    <p-tableCheckbox [value]="major"
                        [disabled]="remainingAmount < amount && !selectedFacilityMajors.includes(major)" />
                </td>
                <td>{{ major.Major.Id }}</td>
                <td>{{ major.Major.Name }}</td>
                <td>{{ major.Major.WorkShiftsDescription }}</td>
                <td>
                    <p-tag [value]="major.Major.IsOpen ? 'Open' : 'Closed'"
                        [severity]="major.Major.IsOpen ? 'success' : 'danger'" />
                </td>
                <td>
                    <p-button (click)="confirmDelete($event, major.Major.Id)" severity="danger" [outlined]="true">
                        <i class="pi pi-trash"></i>
                    </p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <!-- Footer -->
    <div class="d-flex justify-content-end gap-2 mt-3">
        <p-button label="Cancel" severity="secondary" (click)="hideDialogFacilityMajorTable()" class="me-2" />
        <p-button label="Update" (click)="updateFacilityMajorSelect($event)"
            [disabled]="selectedFacilityMajors.length === 0" />
    </div>
</p-dialog>