<section class="">
    <div class="container">
        <div class="row">
            <div class="row">
                <!-- Khung Giới thiệu lĩnh vực -->
                <div class="col-md-8 mb-3">
                    <div class="section-introduce">
                        <h3 class="title rounded-top">Giới thiệu lĩnh vực</h3>
                        <div class="content p-3">
                            <div class="description">
                                <!-- Hiển thị mô tả chính -->
                                <p>{{ mainDescription }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Khung Thông tin liên quan -->
                <div class="col-md-4 mb-3">
                    <div class="section-introduce">
                        <h3 class="title rounded-top">Thông tin liên quan</h3>
                        <div class="content p-3">
                            <div class="description">
                                <ul class="list-unstyled">
                                    <li><strong>Ca làm việc: </strong>{{ workShifstDescription }}</li>
                                    <li><strong>Trạng thái mở: </strong>{{ isOpen }}</li>
                                    <li><strong>Ngày mở: </strong>{{ openScheduleDate }}</li>
                                    <li><strong>Ngày đóng: </strong>{{ closeScheduleDate }}</li>
                                    <li><strong>Loại lĩnh vực: </strong>{{ facilityMajorTypeId }}</li>
                                    <li><strong>Trạng thái vô hiệu: </strong>{{ isDeactivated }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8 mb-3">
                <div class="section-introduce">
                    <h3 class="title rounded-top">Danh sách Service</h3>
                    <div class="content p-3">
                        <!-- Top-level Tabs: Service và Contact -->
                        <p-tabs [value]="selectedTopTab" (onChange)="onTopTabChange($event)">
                            <p-tablist>
                                @for (tab of topTabs; track $index) {
                                <p-tab [value]="tab.value">{{ tab.label }}</p-tab>
                                }
                            </p-tablist>
                            <p-tabpanels>
                                <!-- TabPanel cho Service (gom 1 & 2) -->
                                <p-tabpanel [value]="0">
                                    <p-tabs [value]="selectedServiceSubTab" (onChange)="onServiceSubTabChange($event)">
                                        <p-tablist>
                                            @for (subTab of serviceSubTabs; track $index) {
                                            <p-tab [value]="subTab.value">{{ subTab.label }}</p-tab>
                                            }
                                        </p-tablist>
                                        <p-tabpanels>
                                            @for (subTab of serviceSubTabs; track $index) {
                                            <p-tabpanel [value]="subTab.value">
                                                @for (service of filteredServices; track $index) {
                                                <a [routerLink]="['/service-major-detail', service.Service.Id]"
                                                    class="text-decoration-none">
                                                    <p-card class="service-card w-100">
                                                        <div class="d-flex align-items-center">
                                                            <img [src]="service.Service.ImageUrl" class="major-logo" />
                                                            <div class="ms-3 flex-grow-1">
                                                                <h5 class="service-title">{{ service.Service.Name }}
                                                                </h5>
                                                                <p class="major-name">{{ service.Major.Name }}</p>
                                                            </div>
                                                        </div>
                                                    </p-card>
                                                </a>
                                                }
                                            </p-tabpanel>
                                            }
                                        </p-tabpanels>
                                    </p-tabs>
                                </p-tabpanel>
                                <!-- TabPanel cho Contact -->
                                <p-tabpanel [value]="3">
                                    @for (service of filteredServices; track $index) {
                                    <a [routerLink]="['/service-major-detail', service.Service.Id]"
                                        class="text-decoration-none">
                                        <p-card class="service-card w-100">
                                            <div class="d-flex align-items-center">
                                                <img [src]="service.Service.ImageUrl" class="major-logo" />
                                                <div class="ms-3 flex-grow-1">
                                                    <h5 class="service-title">{{ service.Service.Name }}</h5>
                                                    <p class="major-name">{{ service.Major.Name }}</p>
                                                </div>
                                            </div>
                                        </p-card>
                                    </a>
                                    }
                                </p-tabpanel>
                            </p-tabpanels>
                        </p-tabs>

                    </div>
                </div>
            </div>

        </div>

        <!-- review.component.html -->
        <div class="review-card p-3 border rounded shadow-sm">
            <div class="text-center">
                <h3>Feedback của bạn</h3>
            </div>
            <p-card class="mb-3">
                <div class="d-flex align-items-center gap-2">
                    <!-- Avatar -->
                    <p-avatar [label]="feedback.name[0]" shape="circle" styleClass="bg-primary text-white"></p-avatar>
                    <div>
                        <h6 class="mb-0">{{ feedback.name }}</h6>
                        <small class="text-muted">{{ feedback.date }}</small>
                    </div>
                </div>

                <!-- Rating -->
                <p-rating [(ngModel)]="feedback.rating" [readonly]="true" [disabled]="true" class="mt-2"></p-rating>

                <!-- Nội dung feedback -->
                <p class="mt-2">
                    {{ feedback.comment }}
                </p>
                <p-button (click)="showDialogFeedback()" label="Update my feedback" />
            </p-card>
        </div>
        <!-- Dialog Review -->
        <p-dialog header="Update Feedback" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
            <p-card class="mb-3">
                <div class="d-flex align-items-center gap-2">
                    <!-- Avatar -->
                    <p-avatar [label]="feedback.name[0]" shape="circle" styleClass="bg-primary text-white"></p-avatar>
                    <div>
                        <h6 class="mb-0">{{ feedback.name }}</h6>
                        <small class="text-muted">{{ feedback.date }}</small>
                    </div>
                </div>

                <!-- Rating -->
                <p-rating [(ngModel)]="feedback.rating" [readonly]="true" [disabled]="true" class="mt-2"></p-rating>

                <!-- Nội dung feedback -->
                <p class="mt-2">
                    <textarea rows="5" cols="30" pTextarea class="w-100" [(ngModel)]="value"></textarea>
                </p>
            </p-card>
            <div class="flex justify-end gap-2">
                <p-button label="Cancel" severity="secondary" (click)="visible = false" />
                <p-button label="Save" (click)="visible = false" />
            </div>
        </p-dialog>

        <!-- lits feedback relative -->
        <div class="review-card my-3 border rounded shadow-sm p-3">
            <div class="text-center mb-3">
                <h3>Feedback liên quan</h3>
            </div>
            @for(feedback of paginatedFeedbacks; track feedback) {
            <div class="mb-3">
                <p-card class="mb-3">
                    <div class="d-flex align-items-center gap-2">
                        <!-- Avatar -->
                        <p-avatar [image]="feedback.Account.ImageUrl" shape="circle" styleClass="bg-primary text-white">
                        </p-avatar>
                        <div>
                            <h6 class="mb-0">{{ feedback.Account.FullName }}</h6>
                            <small class="text-muted">{{ feedback.Feedback.CreatedAt }}</small>
                        </div>
                    </div>

                    <!-- Rating -->
                    <p-rating [(ngModel)]="feedback.Feedback.Rate" [readonly]="true" class="mt-2"></p-rating>

                    <!-- Nội dung feedback -->
                    <p class="mt-2">
                        {{ feedback.Feedback.Content }}
                    </p>
                </p-card>
            </div>
            }
            <!-- Phân trang -->
            <p-paginator [rows]="pageSize" [totalRecords]="feedbacks.length" (onPageChange)="onPageChange($event)">
            </p-paginator>
        </div>

    </div>
</section>