@if(loading) {
<div class="spinner-overlay">
    <p-progressSpinner></p-progressSpinner>
</div>
}
<p-toast></p-toast>
<p-confirmdialog />
<div class="container">
    <button type="button" class="btn btn-success mb-3" (click)="showDialogAdd()">Add</button>

    <div class="card">
        <p-table #dt2 [value]="facilityMajors" dataKey="Major.Id" [paginator]="true" [rows]="10"
            [rowsPerPageOptions]="[10, 25, 50]" [loading]="loadingTable" sortField="Major.Id"
            [globalFilterFields]="['Major.Name', 'MajorType.Name', 'Facility.Name']" [sortOrder]="-1"
            [tableStyle]="{ 'min-width': '100rem' }">

            <!-- Thanh tìm kiếm -->
            <ng-template #caption>
                <div class="d-flex justify-content-between">
                    <h5 class="fw-bold">Facility Majors</h5>
                    <p-iconfield iconPosition="left">
                        <p-inputicon>
                            <i class="pi pi-search"></i>
                        </p-inputicon>
                        <input pInputText type="text" (input)="onGlobalFilter($event, dt2)"
                            placeholder="Tìm kiếm Facility Major" />
                    </p-iconfield>
                </div>
            </ng-template>

            <!-- Header -->
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="Major.Id">ID <p-sortIcon field="Major.Id"></p-sortIcon></th>
                    <th pSortableColumn="Major.Name">Tên <p-sortIcon field="Major.Name"></p-sortIcon></th>
                    <th>Hình ảnh</th>
                    <th>Mô tả</th>
                    <th pSortableColumn="MajorType.Name">Loại <p-sortIcon field="MajorType.Name"></p-sortIcon></th>
                    <th pSortableColumn="Facility.Name">Cơ sở <p-sortIcon field="Facility.Name"></p-sortIcon></th>
                    <th>Hành động</th>
                </tr>
            </ng-template>

            <!-- Body -->
            <ng-template pTemplate="body" let-facilityMajor>
                <tr>
                    <td>{{ facilityMajor.Major.Id }}</td>
                    <td>{{ facilityMajor.Major.Name }}</td>
                    <td>
                        <img *ngIf="facilityMajor.Major.ImageUrl" [src]="facilityMajor.Major.ImageUrl" width="100px"
                            alt="{{ facilityMajor.Major.Name }}" class="table-image">
                        <span *ngIf="!facilityMajor.Major.ImageUrl" class="text-muted">No Image</span>
                    </td>
                    <td>{{ facilityMajor.Major.MainDescription }}</td>
                    <td>{{ facilityMajor.MajorType?.Name || 'N/A' }}</td>
                    <td>{{ facilityMajor.Facility?.Name || 'N/A' }}</td>
                    <td>
                        <p-button (click)="confirmDelete($event, facilityMajor.Major.Id)" label="Delete"
                            severity="danger" [outlined]="true" />
                        <p-button (click)="showDialogUpdate(facilityMajor.Major.Id)" label="Update" class="ms-2" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<!-- Dialog Add Thâm -->
<p-dialog header="Add Facility Major" [modal]="true" [(visible)]="add" [style]="{ width: '40rem' }" [closable]="false">
    <span class="text-muted d-block mb-3">Add information</span>
    @if(loadingAdd) {
    <div class="spinner-overlay">
        <p-progressSpinner></p-progressSpinner>
    </div>
    }
    <!-- Logo -->
    <div class="text-center mb-3">
        @if (logoUrl) {
        <p-avatar [image]="logoUrl" class="custom-avatar mb-3"></p-avatar>
        } @else {
        <p-avatar icon="pi pi-building" class="custom-avatar mb-3"></p-avatar>
        }
        <p-fileUpload #fileUploadLogo mode="basic" accept="image/*" chooseLabel="Choose Logo"
            (onSelect)="onFileSelectLogo($event)" />
    </div>

    <!-- Background -->
    <div class="text-center mb-3">
        @if (backgroundUrl) {
        <img [src]="backgroundUrl" alt="Background" class="img-fluid rounded mb-3" style="max-height: 150px;">
        } @else {
        <div class="bg-secondary rounded mb-3"
            style="height: 150px; display: flex; align-items: center; justify-content: center; color: white;">
            No Background
        </div>
        }
        <p-fileUpload #fileUploadBackground mode="basic" accept="image/*" chooseLabel="Choose Background"
            (onSelect)="onFileSelectBackground($event)" />
    </div>

    <form [formGroup]="addFacilityMajorForm">
        <!-- Name -->
        <div class="mb-3 row">
            <label for="Name" class="col-sm-4 col-form-label fw-semibold">Facility Major Name</label>
            <div class="col-sm-8">
                <input pInputText id="Name" class="form-control" formControlName="Name" />
                @if (addFacilityMajorForm.controls['Name'].invalid && addFacilityMajorForm.controls['Name'].touched) {
                <small class="text-danger">
                    Facility Major name is required (Min 3 chars).
                </small>
                }
            </div>
        </div>

        <!-- Main Description -->
        <div class="mb-3 row">
            <label for="MainDescription" class="col-sm-4 col-form-label fw-semibold">Main Description</label>
            <div class="col-sm-8">
                <textarea pInputTextarea id="MainDescription" class="form-control"
                    formControlName="MainDescription"></textarea>
            </div>
        </div>

        <!-- Work Shift Description -->
        <div class="mb-3 row">
            <label for="WorkShiftsDescription" class="col-sm-4 col-form-label fw-semibold">Work Shift
                Description</label>
            <div class="col-sm-8">
                <textarea pInputTextarea id="WorkShiftsDescription" class="form-control"
                    formControlName="WorkShiftsDescription"></textarea>
            </div>
        </div>

        <!-- Facility Major Type -->
        <div class="mb-3 row">
            <label for="FacilityMajorTypeId" class="col-sm-4 col-form-label fw-semibold">Facility Major Type</label>
            <div class="col-sm-8">
                <p-select [options]="facilityMajorTypes" optionLabel="name" optionValue="id"
                    formControlName="FacilityMajorTypeId" placeholder="Select Type"></p-select>
            </div>
        </div>

        <!-- Facility -->
        <div class="mb-3 row">
            <label for="FacilityId" class="col-sm-4 col-form-label fw-semibold">Facility</label>
            <div class="col-sm-8">
                <p-select [options]="facilityOptions" optionLabel="name" optionValue="id" formControlName="FacilityId"
                    placeholder="Select Facility"></p-select>
            </div>
        </div>

        <!-- Footer -->
        <div class="d-flex justify-content-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="hideDialogAdd()" class="me-2" />
            <p-button label="Register" (click)="addFacilityMajor($event)" [disabled]="addFacilityMajorForm.invalid" />
        </div>
    </form>
</p-dialog>

<!-- Dialog Update cập nhật -->
<p-dialog header="Update Facility Major" [modal]="true" [(visible)]="update" [style]="{ width: '40rem' }"
    [closable]="false">
    <span class="text-muted d-block mb-3">Update information</span>
    @if(loadingUpdate) {
    <div class="spinner-overlay">
        <p-progressSpinner></p-progressSpinner>
    </div>
    }
    <!-- Logo -->
    <div class="text-center mb-3">
        @if (logoUrl) {
        <p-avatar [image]="logoUrl" class="custom-avatar mb-3"></p-avatar>
        } @else {
        <p-avatar icon="pi pi-building" class="custom-avatar mb-3"></p-avatar>
        }
        <p-fileUpload #fileUploadLogo mode="basic" accept="image/*" chooseLabel="Choose Logo"
            (onSelect)="onFileSelectLogo($event)" />
    </div>

    <!-- Background -->
    <div class="text-center mb-3">
        @if (backgroundUrl) {
        <img [src]="backgroundUrl" alt="Background" class="img-fluid rounded mb-3" style="max-height: 150px;">
        } @else {
        <div class="bg-secondary rounded mb-3"
            style="height: 150px; display: flex; align-items: center; justify-content: center; color: white;">
            No Background
        </div>
        }
        <p-fileUpload #fileUploadBackground mode="basic" accept="image/*" chooseLabel="Choose Background"
            (onSelect)="onFileSelectBackground($event)" />
    </div>

    <form [formGroup]="updateFacilityMajorForm">
        <!-- Name -->
        <div class="mb-3 row">
            <label for="Name" class="col-sm-4 col-form-label fw-semibold">Facility Major Name</label>
            <div class="col-sm-8">
                <input pInputText id="Name" class="form-control" formControlName="Name" />
                @if (updateFacilityMajorForm.controls['Name'].invalid &&
                updateFacilityMajorForm.controls['Name'].touched) {
                <small class="text-danger">
                    Facility Major name is required (Min 3 chars).
                </small>
                }
            </div>
        </div>

        <!-- Main Description -->
        <div class="mb-3 row">
            <label for="MainDescription" class="col-sm-4 col-form-label fw-semibold">Main Description</label>
            <div class="col-sm-8">
                <textarea pInputTextarea id="MainDescription" class="form-control"
                    formControlName="MainDescription"></textarea>
            </div>
        </div>

        <!-- Work Shift Description -->
        <div class="mb-3 row">
            <label for="WorkShiftsDescription" class="col-sm-4 col-form-label fw-semibold">Work Shift
                Description</label>
            <div class="col-sm-8">
                <textarea pInputTextarea id="WorkShiftsDescription" class="form-control"
                    formControlName="WorkShiftsDescription"></textarea>
            </div>
        </div>

        <!-- Close Schedule Date -->
        <div class="mb-3 row">
            <label for="CloseScheduleDate" class="col-sm-4 col-form-label fw-semibold">Close Schedule Date</label>
            <div class="col-sm-8">
                <input pInputText id="CloseScheduleDate" type="date" class="form-control"
                    formControlName="CloseScheduleDate" />
            </div>
        </div>

        <!-- Open Schedule Date -->
        <div class="mb-3 row">
            <label for="OpenScheduleDate" class="col-sm-4 col-form-label fw-semibold">Open Schedule Date</label>
            <div class="col-sm-8">
                <input pInputText id="OpenScheduleDate" type="date" class="form-control"
                    formControlName="OpenScheduleDate" />
            </div>
        </div>

        <!-- Facility Major Type -->
        <div class="mb-3 row">
            <label for="FacilityMajorTypeId" class="col-sm-4 col-form-label fw-semibold">Facility Major Type</label>
            <div class="col-sm-8">
                <p-select [options]="facilityMajorTypes" optionLabel="name" optionValue="id"
                    formControlName="FacilityMajorTypeId" placeholder="Select Type"></p-select>
            </div>
        </div>

        <!-- Facility -->
        <div class="mb-3 row">
            <label for="FacilityId" class="col-sm-4 col-form-label fw-semibold">Facility</label>
            <div class="col-sm-8">
                <p-select [options]="facilityOptions" formControlName="FacilityId" optionLabel="name" optionValue="id"
                    placeholder="Select Facility"></p-select>
            </div>
        </div>

        <!-- Footer -->
        <div class="d-flex justify-content-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="hideDialogUpdate()" class="me-2" />
            <p-button label="Update" (click)="updateFacilityMajor($event)" [disabled]="updateFacilityMajorForm.invalid" />
        </div>
    </form>
</p-dialog>