<section class="user-manual-banner">
    <div class="container">
        <div class="card flex p-3">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.
            </p>
            <p-divider layout="vertical" />
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo. Nemo enim ipsam
                voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
                ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
            </p>
            <p-divider layout="vertical" />
            <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                provident, similique sunt in culpa qui
                officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
                expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
                minus.
            </p>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="container py-4">
        <p-tabs value="0">
            <p-tablist>
                <p-tab value="0">Contact us</p-tab>
                <p-tab value="1">Q & A</p-tab>
                <p-tab value="2">Guild</p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="0">
                    <p class="m-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex
                        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit
                        anim id est laborum.
                    </p>
                </p-tabpanel>
                <p-tabpanel value="1">
                    <p class="m-0">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, totam rem
                        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                        explicabo.
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                        consequuntur magni
                        dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non
                        numquam eius
                        modi.
                    </p>
                </p-tabpanel>
                <p-tabpanel value="2">
                    <p class="m-0">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                        deleniti
                        atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                        similique
                        sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum
                        quidem rerum
                        facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
                        cumque nihil
                        impedit quo minus.
                    </p>
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>
    </div>
</section>
<section class="container py-4">
    <div class="card p-4">
        <div class="row">
            <!-- Cột 1: Form Contact -->
            <div class="col-md-5 d-flex flex-column align-items-center justify-content-center gap-3 py-4">
                <div class="title text-center">
                    <span>
                        <h3>Contact Us</h3>
                    </span>
                </div>
                <div class="w-100">
                    <label for="username" class="form-label">Email</label>
                    <input pInputText type="text" id="username" class="form-control" />
                </div>
                <div class="w-100">
                    <label for="description" class="form-label">Description</label>
                    <input pInputText type="text" id="description" class="form-control" />
                </div>
                <div class="w-100">
                    <p-button label="Submit" icon="pi pi-user" class="w-100" />
                </div>
            </div>

            <!-- Cột 2: Divider (OR) -->
            <div class="col-md-2 d-flex flex-column align-items-center justify-content-center">
                <p-divider layout="vertical" class="d-none d-md-block"><b>OR</b></p-divider>
                <p-divider layout="horizontal" class="d-block d-md-none text-center"><b>OR</b></p-divider>
            </div>

            <!-- Cột 3: Nút đăng ký -->
            <div class="col-md-5 d-flex flex-column align-items-center justify-content-center gap-3 py-4">
                <div class="title text-center">
                    <span>
                        <h3>Q & A</h3>
                    </span>
                </div>
                <div class="w-100">
                    <label for="username" class="form-label">Email</label>
                    <input pInputText type="text" id="username" class="form-control" />
                </div>
                <div class="w-100">
                    <label for="description" class="form-label">Description</label>
                    <input pInputText type="text" id="description" class="form-control" />
                </div>
                <div class="w-100">
                    <p-button label="Submit" icon="pi pi-user" class="w-100" />
                </div>
            </div>
        </div>
    </div>
</section>
<app-facility-major-top-feedback></app-facility-major-top-feedback>