@if(loading) {
<div class="spinner-overlay">
    <p-progressSpinner></p-progressSpinner>
</div>
}
<p-toast> </p-toast>
<p-confirmdialog />
<div class="card">
    <p-table #dt2 [value]="facilityMajors" dataKey="Major.Id" [paginator]="true" [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]" sortField="Major.Name" [globalFilterFields]="[
            'Major.Id',
            'Major.Name',
            'Major.MainDescription',
            'Major.WorkShiftsDescription',
            'Facility.Name',
            'MajorType.Name',
        ]" [sortOrder]="-1" [tableStyle]="{ 'min-width': '70rem' }">

        <!-- Thanh Search chung -->
        <ng-template #caption>
            <div class="d-flex justify-content-end">
                <p-iconfield iconPosition="left">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" (input)="onGlobalFilter($event, dt2)"
                        placeholder="Search facility major" />
                </p-iconfield>
            </div>
        </ng-template>

        <!-- Header -->
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="Major.Id">ID</th>
                <th pSortableColumn="Major.Name">Name</th>
                <th pSortableColumn="Major.WorkShiftsDescription">Work Shift</th>
                <th pSortableColumn="Facility.Name">Facility</th>
                <th pSortableColumn="MajorType.Name">Major Type</th>
                <th pSortableColumn="Major.IsDeactivated">Available</th>
                <th>Action</th>
            </tr>
        </ng-template>

        <!-- Body -->
        <ng-template pTemplate="body" let-facilityMajor>
            <tr>
                <td>{{ facilityMajor.Major.Id }}</td>
                <td>{{ facilityMajor.Major.Name }}</td>
                <td>{{ facilityMajor.Major.WorkShiftsDescription }}</td>
                <td>{{ facilityMajor.Facility.Name }}</td>
                <td>{{ facilityMajor.MajorType.Name }}</td>
                <td>
                    <p-tag [value]="facilityMajor.Major.IsDeactivated ? 'Deactivated' : 'Activate'"
                        [severity]="facilityMajor.Major.IsDeactivated ? 'danger' : 'success'" />
                </td>
                <td>
                    <!-- <p-button (click)="confirmDelete($event, facilityMajor.Major.Id)" label="Delete" severity="danger"
                        [outlined]="true" /> -->
                    <p-button (click)="showDialogUpdate(facilityMajor.Major.Id)" label="Update" class="ms-2" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- Dialog Update cập nhật -->
<p-dialog header="Update Facility Major" [modal]="true" [(visible)]="update" [style]="{ width: '40rem' }"
    [closable]="false">
    <span class="text-muted d-block mb-3">Update information</span>
    @if(loadingUpdate) {
    <div class="spinner-overlay">
        <p-progressSpinner></p-progressSpinner>
    </div>
    }
    <!-- Logo -->
    <div class="text-center mb-3">
        @if (logoUrl) {
        <p-avatar [image]="logoUrl" class="custom-avatar mb-3"></p-avatar>
        } @else {
        <p-avatar icon="pi pi-building" class="custom-avatar mb-3"></p-avatar>
        }
        <p-fileUpload #fileUploadLogo mode="basic" accept="image/*" chooseLabel="Choose Logo"
            (onSelect)="onFileSelectLogo($event)" />
    </div>

    <!-- Background -->
    <div class="text-center mb-3">
        @if (backgroundUrl) {
        <img [src]="backgroundUrl" alt="Background" class="img-fluid rounded mb-3" style="max-height: 150px;">
        } @else {
        <div class="bg-secondary rounded mb-3"
            style="height: 150px; display: flex; align-items: center; justify-content: center; color: white;">
            No Background
        </div>
        }
        <p-fileUpload #fileUploadBackground mode="basic" accept="image/*" chooseLabel="Choose Background"
            (onSelect)="onFileSelectBackground($event)" />
    </div>

    <form [formGroup]="updateFacilityMajorForm">
        <!-- Name -->
        <div class="mb-3 row">
            <label for="Name" class="col-sm-4 col-form-label fw-semibold">Facility Major Name</label>
            <div class="col-sm-8">
                <input pInputText id="Name" class="form-control" formControlName="Name" />
                @if (updateFacilityMajorForm.controls['Name'].invalid &&
                updateFacilityMajorForm.controls['Name'].touched) {
                <small class="text-danger">
                    Facility Major name is required (Min 3 chars).
                </small>
                }
            </div>
        </div>

        <!-- Main Description -->
        <div class="mb-3 row">
            <label for="MainDescription" class="col-sm-4 col-form-label fw-semibold">Main Description</label>
            <div class="col-sm-8">
                <textarea pInputTextarea id="MainDescription" class="form-control"
                    formControlName="MainDescription"></textarea>
            </div>
        </div>

        <!-- Work Shift Description -->
        <div class="mb-3 row">
            <label for="WorkShiftsDescription" class="col-sm-4 col-form-label fw-semibold">Work Shift
                Description</label>
            <div class="col-sm-8">
                <textarea pInputTextarea id="WorkShiftsDescription" class="form-control"
                    formControlName="WorkShiftsDescription"></textarea>
            </div>
        </div>

        <!-- Close Schedule Date -->
        <div class="mb-3 row">
            <label for="CloseScheduleDate" class="col-sm-4 col-form-label fw-semibold">Close Schedule Date</label>
            <div class="col-sm-8">
                <input pInputText id="CloseScheduleDate" type="date" class="form-control"
                    formControlName="CloseScheduleDate" />
            </div>
        </div>

        <!-- Open Schedule Date -->
        <div class="mb-3 row">
            <label for="OpenScheduleDate" class="col-sm-4 col-form-label fw-semibold">Open Schedule Date</label>
            <div class="col-sm-8">
                <input pInputText id="OpenScheduleDate" type="date" class="form-control"
                    formControlName="OpenScheduleDate" />
            </div>
        </div>

        <!-- Facility Major Type -->
        <div class="mb-3 row">
            <label for="FacilityMajorTypeId" class="col-sm-4 col-form-label fw-semibold">Facility Major Type</label>
            <div class="col-sm-8">
                <p-select [options]="facilityMajorTypes" optionLabel="name" optionValue="id"
                    formControlName="FacilityMajorTypeId" placeholder="Select Type"></p-select>
            </div>
        </div>

        <!-- Facility -->
        <div class="mb-3 row">
            <label for="FacilityId" class="col-sm-4 col-form-label fw-semibold">Facility</label>
            <div class="col-sm-8">
                <p-select [options]="facilityOptions" optionLabel="name" optionValue="id" formControlName="FacilityId"
                    placeholder="Select Facility"></p-select>
            </div>
        </div>

        <!-- Footer -->
        <div class="d-flex justify-content-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="hideDialogUpdate()" class="me-2" />
            <p-button label="Update" (click)="updateFacilityMajor($event)"
                [disabled]="updateFacilityMajorForm.invalid" />
        </div>
    </form>
</p-dialog>